<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bjghhnt.app.treatmentdevice">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.SET_TIME" />

    <application
        android:name=".TreatmentApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver android:name=".receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <!--引导页-->
        <!--<activity android:name=".activities.SplashActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.MONKEY" />-->
            <!--</intent-filter>-->

        <!--</activity>-->
        <activity android:name=".activities.GradientActivity" />
        <activity android:name=".activities.TemperatureActivity" />
        <activity android:name=".activities.FullPanelActivity" />
        <activity android:name=".activities.MultiSetActivity" />
        <activity android:name=".activities.FramingActivity" />
        <activity android:name=".activities.DebugActivity" />
        <activity android:name=".activities.MeterSetActivity" />
        <activity android:name=".activities.VideoActivity" />
        <activity android:name=".activities.PrefsActivity" />
        <activity android:name=".activities.BrowserActivity" />
        <activity android:name=".activities.ContactUsActivity" />
        <activity
            android:name=".activities.PinActivity"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.PropagandaActivity" />
        <activity android:name=".activities.CasesActivity" />
        <!-- <activity android:name="com.hw.readermain.MainActivity"/> -->
        <!-- <activity android:name="com.hw.hwreaderui.HwReaderPlayActivity" -->
        <!-- android:screenOrientation="portrait"/> -->

        <service android:name=".service.PropagandaMusicService" />
        <service android:name=".service.BallService" />

    </application>

</manifest>